@model IEnumerable<Example.App.ViewsModels.ProductViewModel>

@{
    ViewData["Title"] = "Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Novo Produto</a>
</p>

<partial name="_ListProducts" />